@font-face {
  font-family: 'lumos';
  src: url(lumos.otf);
}

body {
  margin: 0;
  padding: 0;
  display: table;
  min-height: 100vh;
  min-width: 100vw;
  display: table;
  font-family: serif;
  font-size: 30px;
  color: #fff;
  background-color: #333;
  background-image: url(spinner.gif);
  background-size: cover;
  background-position: right top;
}

main {
  padding: -3rem 2rem 1rem;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

section {
  visibility: hidden;
}

h1 {
  font-size: 4rem;
  font-family: lumos, serif;
  font-weight: normal;
  line-height: 1;
  text-shadow: 2px 2px 10px #000;
  opacity: .9;
}

h2 {
  font-size: 3rem;
  font-weight: normal;
  line-height: 1.2;
  text-shadow: 2px 2px 10px #000;
  opacity: .9;
}

p, label {
  font-size: 2rem;
  text-shadow: 2px 2px 10px #000;
  opacity: .9;
}

audio {
  min-width: 33%;
  opacity: .7;
}

form {
  margin: 2rem 0;
}

input {
  margin-left: 2em;
}

select {
  font-size: 1rem;
  padding: 5px 10px;
  background: rgba(255,255,255,.1);
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  opacity: .7;
}

img {
  visibility: hidden;
  height: 1px;
  width: 1px;
}

@media screen and (max-width: 42rem) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
  input {
    margin-left: 1em;
  }
}